#headH1{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 50px;
}

body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.weatherForm button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsla(122, 39%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.weatherForm button[type="submit"]:hover{
    background-color: hsla(122, 39%, 40%);
}

.card{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}

.tempDisplay{
    margin-bottom: 1px;
}

.feellikeDisplay{
    font-style: italic;
    font-weight: bold;
    size: 2rem;
}

.humidityDisplay, .windDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%, 0.75);
}

.weatherForm input[type="text"]{
    padding: 10px;
    font-size: 2rem;
    border: 2px solid hsl(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

.humidityB{
    font-family: monospace;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
    border-radius: 5px;
}

.humidityP{
    align-items: center;
    position: fixed;
    font-size: 16px;
    display: none;
}

.humidityB:hover ~ .humidityP {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: monospace;
    background-color: white;
    border: #333 solid 3px;
    padding: 10px;
    border-radius: 10px;
}

.feellikeB{
    font-family: monospace;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
    border-radius: 5px;
}

.feellikeP{
    align-items: center;
    position: fixed;
    font-size: 16px;
    display: none;
}

.feellikeB:hover ~ .feellikeP {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: monospace;
    background-color: white;
    border: #333 solid 3px;
    padding: 10px;
    border-radius: 10px;
}

.humidityDiv{
    display: flex;
    flex-direction: row;
}

.tempDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.feellikeDiv{
    display: flex;
    flex-direction: row;
}

.bottomnotes p{
    font-size: 15px;

}
